main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    max-width: 90%;
    overflow: hidden;
    background-color: lightgray;
}

main img {
    height: 50vh;
    max-width: 900px;
    padding: 1em;
    transform: translateX(-100vw);
    opacity: 0;
    transition: all 1s;
}

main article {
    max-width: 900px;
    padding: 1em;
    transform: translateX(-100vw);
    opacity: 0;
    transition: all 1s;
}

#article_template {
    display: none;
}

#img_template {
    display: none;
}
