#card {
    display: flex;
    background-color: lightgray;
    width: 100%;
    font-family: sans-serif;
    align-items: stretch;
}

#card div{
    flex: 1;
}

#left {
    display: grid;
    grid-template-rows: 0.2fr 1fr 4fr 0.5fr;
    grid-template-columns: 2fr 6fr 8fr 4fr;
}

#bg {
    background: linear-gradient(90deg, rgba(25,0,255,1) 0%, rgba(93,143,255,1) 100%);
    grid-column: 2/5;
    grid-row: 2/4;
    box-shadow: grey 0 0 30px;
}

#nike{
    text-align: center;
    color: RGBA(255, 255, 255, 0.3);
    font-weight: bolder;
    font-size: 18vw;
    grid-column: 2/5;
    grid-row: 3/4;
}

#logo{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 15%;


}

#shoe {
    position: relative;
    grid-column: 1/5;
    grid-row: 3/5;
    margin-left: -20%;
}

#shoe_img {
    transform: rotate(-20deg);
    /*width: 120%;*/

}

#share{
    grid-column: 4/5;
    grid-row: 2/3;
    margin: 20%;
    padding: 13%;
    background-color: white;
    border-radius: 100%;
}

#right {

}

#info {
    height: 87%;
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    margin-bottom: 2%;
    background-color: white;
    padding: 5%;
    box-shadow: grey 0 0 30px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}



#new {
    background-color: rgba(93,143,255,1);
    border-radius: 5px;
    color: white;
    font-weight: normal;
    padding: 0.5em;
    margin: 0.5em;
    width: 2.5em;
}



img{
    width: 100%;
}

#buy{
    display: flex;
    justify-content: space-between;
}

#buy div{
    flex: 1;
}

#price{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

#cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(93,143,255,1);
    color: white;
    padding: 10px;
    height: 2em;
}

#cart img{
    width: 1em;
}

#color_buttons {
    display: flex;
    flex: 0 0 20px;
}

#color_buttons div {
    padding: 0.7em;
    margin: 0 0.7em 0 0.7em;
    border-radius: 100%;
    flex: 0 1 5px;
    height: 5px;
}

#color_buttons div:hover {
    border: 0.2em solid white;
    padding: 0.5em;
    box-shadow: grey 0 0 5px;
}

#blue {
    background-color: blue;
}
#pink {
    background-color: pink;
}
#green {
    background-color: green;
}
#orange {
    background-color: orange;
}
#black {
    background-color: black;
}

#size_buttons {
    display: flex;
}

#size_buttons div {
    padding: 0.7em;
    margin: 0.5em;
    background-color: lightgray;
    border-radius: 20%;
    width: 1em;
    text-align: center;
    flex: 0 1 1em;
    height: 1em;
}

#size_buttons div:hover{
    background-color: rgba(93,143,255,1);
    color: white;
}

h1 {
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin-top: 0.2em;
    font-size: large;
    margin-bottom: 0.2em;
}

h3 {
    font-weight: bold;
    font-size: medium;
}

#share svg path {
    fill: blue
}

hr {
    border-top: 1px solid lightgray;
    margin-left: 0;
    margin-right: 0;
}