#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: fit-content;
    grid-gap: 0.5em;
    padding: 1em;
    background-color: red;

}

.tile{
    padding: 0.5em;
    font-size: xx-large;
    background-color: lightblue;
    text-align: center;
}

.empty{
    background-color: transparent;
}

