#all{
    border: 1px solid red;
    display: flex;
	flex-direction: column;
    background-color: navy;
    max-width: 25em;
}
header{
    background-color: orange;
    color: yellow;
}
h1{
    margin: 1em;
    font-size: larger;
}

form {
    color: yellow;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 1em;
    margin: 5%;
}
form label{
  justify-self: end;
}
form input[type=text] {
    max-width: 10em;
}
form input[type=email] {
    max-width: 10em;
}

form input[type=password] {
    max-width: 10em;
}

form input[type=tel] {
    max-width: 10em;
}

footer{
    display: flex;
    justify-content: flex-end;
    background-color: orange;
}
footer button{
    align-self: flex-end;
    margin: 0.7em;
    padding: 0.7em;
    border:none;
    color: white;
}
#cancel{
    background-color: red;
}
#send{
    background-color: green;
}
